
api_vet_clinic/Persistence/obj/

api_vet_clinic/Persistence/bin/

api_vet_clinic/API/obj/

api_vet_clinic/API/bin/

api_vet_clinic/Application/bin/

api_vet_clinic/Application/obj/

api_vet_clinic/Domain/bin/Debug/net7.0/Domain.dll

api_vet_clinic/Domain/bin/Debug/net7.0/Domain.pdb

api_vet_clinic/Domain/obj/Debug/net7.0/Domain.pdb

api_vet_clinic/Domain/obj/Debug/net7.0/Domain.assets.cache

api_vet_clinic/Domain/obj/Debug/net7.0/Domain.dll

api_vet_clinic/Domain/obj/Debug/net7.0/refint/Domain.dll

api_vet_clinic/Domain/obj/Debug/net7.0/Domain.GeneratedMSBuildEditorConfig.editorconfig

api_vet_clinic/Domain/obj/Debug/net7.0/ref/Domain.dll
